@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Pacifico&family=Raleway:wght@700;800&display=swap");

@font-face {
    font-family: "Marck_Script";
    src: url("../fonts/MarckScript-Regular.woff2") format("woff2"),
        url("../fonts/MarckScript-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
